*, html, body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	padding: 2rem;
}

h1{
	text-align: center;
	padding: 1rem 0;
	text-decoration: underline;
}

.section-center{
	display: grid;
	gap: 2rem;
	/* grid-template-columns: repeat(2, 1fr); */
}

.menu-item{
	display: flex;
	gap: 1rem;
	border: 2px solid black;
	border-radius: .5rem;
}
.item-content{
	padding: 1rem 0;
	width: 65%;
}
header{
	display: flex;
	margin-bottom: 1rem;
	border-bottom: 2px solid black;
	justify-content: space-between;
}

.photo{
	width: 30%;
}


@media (min-width: 768px){
	.section-center{
		grid-template-columns: repeat(2, 1fr);
	}
}