@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
:root{
	--primary: goldenrod;
	--white: whitesmoke;
}


*, html, body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	padding: 2rem 1rem;
	font-family: 'Libre Baskerville', serif;
}
.title{
	display: flex;
	flex-direction: column;
}
h1{
	text-align: center;
	padding: .5rem 0;
}
.underline{
	margin-bottom: 2rem;
	border-bottom: 3px solid var(--primary);
	border-radius: 1rem;
	text-align: center;
	width: 5rem;
	align-self: center;
}

.section-center{
	display: grid;
	gap: 2rem;
	/* grid-template-columns: repeat(2, 1fr); */
}

.menu-item{
	display: flex;
	gap: 1rem;
}
.item-content{
	padding: 1rem 0;
}
header{
	display: flex;
	margin-bottom: 1rem;
	border-bottom: 2px solid var(--primary);
	justify-content: space-between;
}

.photo{
	display: block;
	width: 30%;
	height: 50%;
	border: 4px solid var(--primary);
	border-radius: 1rem;
}
.btn-container{
	text-align: center;
	margin:  0 0 2rem 0;
}
.filter-btn{
	padding: .5rem 1rem;
	margin: .5rem;
	background: transparent;
	border-radius: 1rem;
	border: 2px solid var(--primary);
}
.filter-btn:hover{
	color: var(--white);
	background-color: var(--primary);
}
.active-btn{
	color: var(--white);
	background-color: var(--primary);
}

@media (min-width: 768px){
	.section-center{
		grid-template-columns: repeat(2, 1fr);
	}
	.photo{
		height: auto;
	}
}

@media (min-width: 1440px){
	.section-center{
		grid-template-columns: repeat(3, 1fr);
	}
}